
body {
  font-family: 'Inconsolata', monospace;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10%;

  @media #{$desktop} {
    flex-direction: row;
    max-width: 800px;
    min-height: 400px;
    margin: auto;
    justify-content: space-around;
  }
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 4rem;
    @media #{$desktop} {
      padding: 5% 0;
    }
  }
  .main_nav {
    margin: 5% 0;
  }
  .main_nav-list {
    display: flex;
    justify-content: space-between;
    a {
      &:link {
        text-decoration: none;
        color: yellow;
      }
      &:visited {
        text-decoration: none;
        color: #1e43ff;
      }
      &:hover {
        text-decoration: none;
        color: #e542f4;
      }
      &:active {
        text-decoration: none;
        color: #1e43ff;
      }
    }
    @media #{$desktop} {
      border: none;
    }
  }
  @media #{$desktop} {
    width: 35%;
    padding: 2%;
  }
}
.info {
  @media #{$desktop} {
    width: 60%;
    padding: 2%;
    p {
      margin: 4% 0;
    }
  }
}
