
body {
  font-family: 'Inconsolata', monospace;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 20px;

@media #{$small-up} {
    flex-direction: column;
    display: flex;
    flex-direction: row-reverse;
    max-width: 1000px;
    height: 100vh;
    align-items: center;
    margin: auto;
  }

}
.main {
  display: flex;
  flex-direction: column;
    h1 {
      font-size: 2.5rem;
      padding-bottom: 10%;
    }

  @media #{$small-up} {
    display: flex;
    width: 500px;
    height: 500px;
    flex-direction: column;

    h1 {
      font-size: 5rem;
      padding-bottom: 10%;
    }
  }
}

.info {
  padding-top: 10%;
  @media #{$small-up} {
    width: 400px;
    height: 400px;
    padding: 10%;
  }
}

.main_nav-list {
  font-size: 1rem;
  display: inline-flex;

  li {
    margin-right: 15%;
    &:hover {
      color: #e542f4;
      cursor: pointer;
    }
 }
}

.copyright {
  margin-bottom: 50%;
  color: lightgray;
  font-size: 0.5rem;
}
