.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  h1 {
    font-size: 4rem;
    @media #{$desktop} {
      padding: 5% 0;
    }
  }
  .main_nav {
    margin: 5% 0;
  }
  .main_nav-list {
    display: flex;
    justify-content: space-between;
    li {
      color: blue;
      cursor: pointer;
      &:hover {
        text-decoration: none;
        color: #e542f4;
      }
    }
    @media #{$desktop} {
      border: none;
    }
  }
  @media #{$desktop} {
    width: 30%;
    padding: 2%;
  }
}
