body {
  font-family: 'Droid Sans Mono', monospace;
}
.container {
  display: flex;
  flex-direction: column;
  padding: 10%;

  @media #{$desktop} {
    flex-direction: row;
    max-width: 800px;
    min-height: 400px;
    margin: auto;
    justify-content: space-around;
  }
}
